<form class="" action="/stylists/edit/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="stylist-id" type="hidden" value="@Model.GetId()">
  <label for="stylist-name"> Name</label>
  <input id="stylist-name" name="stylist-name" type="text">
  <label for="stylist-name">Info Here</label>
  <button type="submit">Complete</button>
</form>

<h2>Are you sure you want to delete this stylist and their clients?</h2>
<h4>@Model.GetName()</h4>
<form action="/stylists/delete/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete</button>
</form>
